.App {
  text-align: center;
  text-transform: uppercase;
}

h1 {
  letter-spacing: 1.5px;
}

.btn {
  color: #f89937;
  cursor: pointer;
  background: none;
  border: 1px solid #f89937;
  margin-bottom: 10px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn:hover, .btn.active {
  background: #f89937;
  color: #fff;
}

.App-link {
  color: #61dafb;
}
